<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox | You Mail</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>

<body>
    <div id="main-p">
        <%- include('_left_pannel')%>
            <div id="right-pannel">
                <div class="top-right-pannel">
                    <div class="left-top">
                        <h1>Hello👋,
                            <% if(user.fullname.length> 22){%>
                                <%=user.fullname.substr(0, 19) %><abbr title="<%= user.fullname%>"
                                        style="color: rgb(71, 69, 69); font-size: 2rem; cursor: pointer;">
                                        <%="..."%>
                                    </abbr>
                                    <%}else{%>
                                        <%=user.fullname%>
                                            <%}%>

                        </h1>
                    </div>
                    <div class="right-top">
                        <div class="dark">
                            <i id="moon" class="ri-moon-fill both"></i>
                            <i id="sun" class="ri-sun-line both"></i>
                        </div>
                        <div class="account">
                            <form action="/setpic" id="profilepic" method="post" enctype="multipart/form-data">
                                <input type="file" name="image" id="choosepic">
                                <input type="submit" id="set">
                            </form>
                            <img src="../images/uploads/<%=user.profilePic%>" alt="">
                        </div>
                        <div class="logout">
                            <i class="ri-logout-circle-r-line"></i>
                            <a href="/logout">Log out</a>
                        </div>
                    </div>
                </div>
                <div class="bottom-right-pannel">
                    <div class="top-bottom-rp">
                        <div class="tools">
                            <input type="checkbox" name="" id="check">
                            <h6>Select All Mails</h6>
                        </div>
                        <div class="search-box">
                            <i class="ri-search-line"></i>
                            <input type="search" name="search" id="searchbox" placeholder="Search">
                            <div class="arrow"> </div>
                        </div>
                        <div class="tools">
                            <h6>1 -35 of 35</h6>
                            <i class="ri-arrow-left-circle-fill"></i>
                            <i class="ri-arrow-right-circle-fill"></i>
                        </div>

                    </div>
                    <div class="bottom-bottom-rp">

                        <%user.recivedMails.reverse().forEach((mails)=>{%>

                            <div class="emails">
                                <div class="left-part">
                                    <div class="left-icon">
                                        <i class="ri-checkbox-blank-circle-line"></i>
                                        <i class="ri-star-line"></i>
                                    </div>
                                    <div class="name-field">
                                        <h5>
                                            <%= mails.userId.fullname%>
                                        </h5>
                                    </div>
                                    <div class="subject-field">
                                        <h6>
                                            <%= mails.subject%>
                                        </h6>
                                    </div>
                                    <div class="message-field">
                                        <p>
                                            <%= mails.message%>
                                        </p>
                                        <p>
                                            <!-- This is a mail for your interview which will be</p> -->
                                    </div>
                                </div>
                                <div class="right-part">
                                    <h6>03 September</h6>
                                    <div class="right-icon">
                                        <i class="ri-inbox-archive-line"></i>
                                        <i class="ri-delete-bin-3-line"></i>
                                        <i class="ri-mail-check-line"></i>
                                    </div>
                                </div>
                            </div>
                            <%})%>

                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../javascripts/script.js"></script>
</body>

</html>