<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox | You Mail</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<style>
    .pannels:nth-child(6){
        background-color: rgb(253, 213, 247); 
        color: rgb(0, 0, 0);
    }
</style>
<body>
    <div id="main-p">
        <%- include('_left_pannel')%>
            <div id="right-pannel">
                    <%- include('_top_right_pannel')%>
                <div class="bottom-right-pannel">
                   <%- include('_top_bottom_rp.ejs')%>
                    <div class="bottom-bottom-rp">
                        <%user.recivedMails.reverse().forEach((mails)=>{%>

                            <div class="emails">
                                <div class="left-part">
                                    <div class="left-icon">
                                        <i class="ri-checkbox-blank-circle-line"></i>
                                        <i class="ri-star-line"></i>
                                    </div>
                                    <div class="name-field">
                                        <h5>
                                            <%= mails.senderUserId.fullname%>
                                        </h5>
                                    </div>
                                    <div class="subject-field">
                                        <h6>
                                            <%= mails.subject%>
                                        </h6>
                                    </div>
                                    <div class="message-field">
                                        <p>
                                            <%= mails.message%>
                                        </p>
                                        <p>
                                            <!-- This is a mail for your interview which will be</p> -->
                                    </div>
                                </div>
                                <div class="right-part">
                                    <h6>03 September</h6>
                                    <div class="right-icon">
                                        <i class="ri-inbox-archive-line"></i>
                                        <i class="ri-delete-bin-3-line"></i>
                                        <i class="ri-mail-check-line"></i>
                                    </div>
                                </div>
                            </div>
                            <%})%>

                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../javascripts/script.js"></script>
</body>

</html>